<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Marcin M. Ufniarz's Portfolio Site</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>

		 <div class="wrap">
      <header>
        <label class="sm-icon">
          <a href="https://github.com/mufniarz" target="_new">
              <img src="/img/social_github.png">
          </a>
        </label>
        <label for="slide-1-trigger">Marcin M. Ufniarz</label>
        <label for="slide-2-trigger">Technologies</label>
        <label for="slide-3-trigger">Experience</label>
        <label for="slide-4-trigger">Portfolio</label>
        <label class="sm-icon">
          <a href="https://www.linkedin.com/in/marcin-ufniarz-bb374566" target="_new">
            <img src="/img/social_in.png">
          </a> 
        </label>
      </header>

      <input id="slide-1-trigger" type="radio" name="slides" checked />
      <section class="slide slide-one">
        <h1>Marcin M. Ufniarz</h1>
        <img src="/img/marcin.png" alt="Marcin Ufniarz" class="img-thumbnail">
      </section>
      <input id="slide-2-trigger" type="radio" name="slides" />
      <section class="slide slide-two">
        <h1>Technologies</h1>
      </section>
      <input id="slide-3-trigger" type="radio" name="slides" />
      <section class="slide slide-three">
        <h1>Experience</h1>
      </section>
      <input id="slide-4-trigger" type="radio" name="slides" />
      <section class="slide slide-four">
        <h1>Portfolio</h1>
      </section>
    </div>

	</body>
</html>