<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Marcin M. Ufniarz's Portfolio Site</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/style.css" />
		<style type="text/css">
			div.scroll {
			    max-height:900px;
  				overflow: auto;
			}
		</style>
	</head>
	<body>

		<div class="wrap">
	      <header>
	        <label class="sm-icon">
	          <a href="https://github.com/mufniarz" target="_new">
	              <img src="/img/social_github.png">
	          </a>
	        </label>
	        <label for="slide-1-trigger">Marcin M. Ufniarz</label>
	        <label for="slide-2-trigger">Technologies</label>
	        <label for="slide-3-trigger">Experience</label>
	        <label for="slide-4-trigger">Portfolio</label>
	        <label class="sm-icon">
	          <a href="https://www.linkedin.com/in/marcin-ufniarz-bb374566" target="_new">
	            <img src="/img/social_in.png">
	          </a> 
	        </label>
	      </header>



	      <input id="slide-1-trigger" type="radio" name="slides" checked />
	      <section class="slide slide-one">
	        <h1>Marcin M. Ufniarz</h1>
	        <img src="/img/marcin.png" alt="Marcin Ufniarz" class="img-thumbnail">
	        <div class="container scroll">
		        <div class="row">
		        	<div class="col-sm-12 header">About Myself</div>
		        	<div class="col-sm-12 row text-left">
		        		<br />
		        		<div class="col-sm-6">
			        		I'm very passionate about technology.  In my short time I have worked with several different programming languages and platforms.  I volunteer for schools, libraries and open source non-profits.  In all my projects I tend to use two to three new technologies.<br /><br />
			        		After obtaining my bachelor's degree in Information Technology, I started an internship with GetLusty.com.  Where I picked up a saying from the co-founder I live by to this day.  <br /><br />
			        		<blockquote class="blockquote-reverse">
			        			"There are three levels of understanding.  Learning, Doing and Teaching." - <a href="https://www.linkedin.com/in/sociallytim" target="_new">Tim Watson</a>
							</blockquote>
			        		I tend to teach and mentor where I can. 
			        		<br /><br />
		        		</div>
		        		<div class="col-sm-6">
			        		<span>STRENGTHS</span><br />
				        	<u>Driven</u> to be the goto person for my department.<br />
				        	<u>Quick-learning</u> - tend to use new technologies on all my personal projects.<br />
				        	<u>Passionate</u> - I feel technology drives our lives, can improve education and bring world peace.  <br />
				        	<u>Front-End Development</u> - cross-browser development, web performance optimization and animation.<br />
				        	<u>Full-Stack Development</u> - Experience with MEAN and LAMPP development.
				        	<br />
			        	</div>
		        	</div>
		        	<div class="col-sm-12 header text-center">Professional Goals</div>
		        	<div class="col-sm-12"><br />
		        		I'm currently seeking employment as a front-end and/or back-end developer for a company that implements server-side JavaScript technologies.
		        		<br /><br /> 
		        	</div>
	  				<div class="clearfix"></div>
		        </div>
	        </div>
	      </section>



	      <input id="slide-2-trigger" type="radio" name="slides" />
	      <section class="slide slide-two">
	        <h1>Technologies</h1>
	        <div class="container scroll">
		        <div class="row">
		        	<div class="col-sm-6">
			        	<div class="header">Programming Languages</div>
			        	<div class="text-left">
			        		<br />
			        		<u>JavaScript</u> - 2.5 years front-end experience and .5 years of back-end experience.<br />
			        		<u>Java</u> - 2.5 years of experience.<br />
			        		<u>PHP</u> - 1 year of experience.<br />
			        		<u>Go</u> - .5 years of experience.<br />
			        		<u>VB & ASP</u> - College experience.<br /><br />
		        		</div>
		        	</div>
	        		<div class="col-sm-6">
			        	<div class="header">Front-End Development</div>
			        	<div class="text-left">
			        		<br />
			        		<u>HTML</u> - 3+ years of experience.<br />
			        		<u>CSS</u> - 3+ years of experience.<br />
			        		<u>JSP</u> - 2.5 years of experience.<br />
			        		<u>SVG</u> - Few months of experience.<br />
			        		<u>Sass</u> - Few months of experience.<br />
			        		<u>jQuery</u> - 1.5 years of experience.<br />
			        		<u>Processing.js</u> - 1 years of experience.<br />
			        		<u>Angular.js</u> - .5 years of experience.<br />
			        		<u>bower</u> - .5 years of experience.<br />
			        		<u>prettyPhoto.js</u> - Few months of experience.<br /><br />
		        		</div>
	        		</div>
	        		<div class="clearfix"><br /></div>
		        	<div class="col-sm-6">
			        	<div class="header">Operating Systems</div>
			        	<div class="text-left">
			        		<br />
			        		Proficent in: Windows, Linux and Mac OS
		        		</div>
	        		</div>
		        	<div class="col-sm-6">
			        	<div class="header">Databases</div>
			        	<div class="text-left">
			        		<br />
			        		<u>MySQL</u> - 1 year of experience.<br />
			        		<u>MongoDB</u> - Few months of experience.<br /><br />
			        		
		        		</div>
	        		</div>
	        		<div class="clearfix"><br /></div>
		        	<div class="col-sm-6">
			        	<div class="header">Other Technologies</div>
			        	<div class="text-left">
			        		<br />
			        		<u>HTTP</u> - 3+ years of experience.<br />
			        		<u>vBulletin v4</u> - Some experience.
			        		<br /><br />
		        		</div>
	        		</div>
		        	<div class="col-sm-6">
			        	<div class="header">Hosting Providers</div>
			        	<div class="text-left">
			        		<br />
			        		<u>GoDaddy</u> - 3+ years of experience.<br />
			        		<u>Google App Engine</u> - 1.5 years of experience.<br />
			        		<u>GitHub Pages</u> - 1 years of experience.<br />
			        		<u>NearlyFreeSpeech.net</u> - few months of experience.<br />
			        		<u>Heroku</u> - few months of experience.<br />
			        		<u>Plesk</u> - 1 month of experience.
			        		<br /><br />
		        		</div>
	        		</div>
	        		<div class="clearfix"><br /></div>
		        	<div class="col-sm-6">
			        	<div class="header">Package Managers</div>
			        	<div class="text-left">
			        		<br />
			        		<u>npm</u> - .5 years of experience.<br />
			        		<u>bower</u> - .5 years of experience.<br />
			        		<u>gem</u> - few months of experience.
			        		<br /><br />
		        		</div>
	        		</div>
		        	<div class="col-sm-6">
			        	<div class="header">Task Runners</div>
			        	<div class="text-left">
			        		<br />
			        		<u>Grunt</u> - .5 years of experience.<br />
			        		<u>Gulp</u> - .5 years of experience.
			        		<br /><br />
		        		</div>
	        		</div>
	        		<div class="clearfix"><br /></div>
		        </div>
	        </div>

	      </section>



	      <input id="slide-3-trigger" type="radio" name="slides" />
	      <section class="slide slide-three">
	        <h1>Experience</h1>
	        <div class="container scroll">
		        <div class="row">
		        	<div class="col-sm-6">
			        	<div class="header">GetLusty.com</div>
			        	<div class="text-left">
			        		<br />
			        		<span>Title:</span> Intern
			        		<br />
			        		<span>Duration:</span> March to June 2013
			        		<br />
			        		<span>Tasks:</span>
			        		<br />
			        		<ul>
			        			<li>Performed user and regression testing.</li>
			        			<li>Built weekly and daily email layouts.</li>
			        			<li>Built the landing page which has since been replaced.</li>
			        			<li>Documented all SQL functions.</li>
			        		</ul>
			        		<span>Technologies:</span> CSS, HTML, MSSQL, Windows OS
			        		<br /><br />

		        		</div>
	        		</div>
		        	<div class="col-sm-6">
			        	<div class="header">CompuSystems, Inc.</div>
			        	<div class="text-left">
			        		<br />
			        		<span>Title:</span> Web Developer
			        		<br />
			        		<span>Duration:</span> June 2013 to Oct. 2015
			        		<br />
			        		<span>Tasks:</span>
			        		<br />
			        		<ul>
			        			<li>Built e-commerce registration portals.</li>
			        			<li>Performed cross-browser testing and automated testing with selenium.</li>
			        			<li>Worked in a team of 3 to 4 individuals.</li>
			        			<li>Built PDFs using Java.</li>
			        			<li>Built functionality to filter excel or CVS files.</li>
			        			<li>Built site designs to client specifications.</li>
			        			<li>Built in complex navigation using Java.</li>
			        			<li>Built in client-side functionality with JavaScript.</li>
			        			<li>Built in custom SQL queries.</li>
			        			<li>Implemented Bootstrap for mobile optimized websites.</li>
			        			<li>Built over a hundred sites working in small agile groups.</li>
			        		</ul>
			        		<span>Technologies:</span> HTML5, CSS, Bootstrap, JavaScript, jQuery, Java, SQL, JSP, Windows OS, Dreamweaver, Sublime Editor, Notepad++, Filezila, FireBug, Selenium
			        		<br /><br />

		        		</div>
	        		</div>
	        		<div class="clearfix"><br /></div>
		        	<div class="col-sm-12 header" style="margin-bottom: 20px;">
		        		<b>Freelance/Pro Bono Experience</b>
		        	</div>
	        		<div class="clearfix"><br /></div>
		        	<div class="col-sm-6">
			        	<div class="header">Our Lady Mother of the Church</div>
			        	<div class="text-left">
			        		<br />
			        		<span>Title:</span> Web Developer
			        		<br />
			        		<span>Duration:</span> 2015 - 2016
			        		<br />
			        		<span>Tasks:</span>
			        		<br />
			        		<ul>
			        			<li>Rebuilt existing site with Bootstrap.</li>
			        			<li>Added several sections and pages to the site.</li>
			        			<li>Integrated Google Calendar.</li>
			        			<li>Maintained Data in Google's Cloud Storage.</li>
			        			<li>Eventually, helped transfer this site to GoDaddy and WordPress to allow for the church to use WordPress's CMS.</li>
			        		</ul>
			        		<span>Technologies:</span> CSS, HTML, Bootstrap, JavaScript (jQuery and Angular.js), Google's Data Store, Google App Engine, Go<br />
			        		<span>Link:</span> <a href="https://olmc-web2.appspot.com/" target="_new">olmc-web2.appspot.com</a><br />
			        		<br /><br />
		        		</div>
	        		</div>
		        	<div class="col-sm-6">
			        	<div class="header">Dirksen Library</div>
			        	<div class="text-left">
			        		<br />
			        		<span>Title:</span> Web Developer
			        		<br />
			        		<span>Duration:</span> 2015 - 2016
			        		<br />
			        		<span>Tasks:</span>
			        		<br />
			        		<ul>
			        			<li>Rebuild existing web site.</li>
			        			<li>Fix layout and link issues.</li>
			        			<li>Provide hosting.</li>
			        			<li>Maked the page more responsive/interactive.</li>
			        		</ul>
			        		<span>Technologies:</span> CSS, HTML, Ruby, Gem, Bourbon, SVG animation, responsive web design, Google App Engine<br />
			        		<span>Link:</span> <a href="https://dirksen-library.appspot.com/" target="_new">dirksen-library.appspot.com</a>
			        		<br /><br />

		        		</div>
	        		</div>
	        		<div class="clearfix"><br /></div>
		        	<div class="col-sm-6">
			        	<div class="header">FeeGeek Chicago Panel</div>
			        	<div class="text-left">
			        		<br />
			        		<span>Title:</span> Web Developer
			        		<br />
			        		<span>Team:</span> Marcin Ufniarz, Joseph Davis
			        		<br />
			        		<span>Duration:</span> 2015
			        		<br />
			        		<span>Tasks:</span>
			        		<br />
			        		<ul>
			        			<li>Create custom panel for inhouse use.</li>
			        			<li>Integrated Twitter API.</li>
			        			<li>Integrated Google Calendar.</li>
			        			<li>Intergrated Chicago's CTA Bus Tracking System.</li>
			        		</ul>
			        		<span>Technologies:</span> CSS, HTML, Bootstrap, JavaScript<br />
			        		<span>Link:</span> <a href="https://sc3.github.io/freegeekchicagopanel/" target="_new">sc3.github.io/freegeekchicagopanel</a><br />
			        		<br /><br />
		        		</div>
	        		</div>
		        	<div class="col-sm-6">
	        		</div>
		        </div>
		    </div>
	      </section>



	      <input id="slide-4-trigger" type="radio" name="slides" />
	      <section class="slide slide-four">
	        <h1>Portfolio</h1>
	        <div class="container scroll">
		        <div class="row">
		        	<div class="col-sm-5">
		        		<br />
			        	<iframe height="300px" width="100%" src="http://massplash.com/projects/movie-api/"></iframe>
	        		</div>
		        	<div class="col-sm-7">
			        	<div class="text-left">
			        		<br />
			        		<span>Title:</span> <a href="http://massplash.com/projects/movie-api/" target="_new">Movie API</a>
			        		<br />
			        		<span>Technologies:</span> HTML5, CSS, Bootstrap, Sass, Bourbon, Ruby, Gem, JavaScript (Angular.js, prettyPhoto.js)
			        		<br />
			        		<span>Team:</span> Marcin Ufniarz
			        		<br />
			        		<span>Git Repository:</span> <a href="https://github.com/mufniarz/movie-api" target="_new">https://github.com/mufniarz/movie-api</a>
			        		<br />
			        		<span>Data:</span> <a href="https://www.themoviedb.org/" target="_new">https://www.themoviedb.org/</a>
			        		<br />
			        		<span>Description:</span> This site pulls JSON data from themoviedb.org API displays it using AngularJS single page routing.  It also allows you to view trailers and images using the prettyPhoto.js jQuery plugin.  The site is limited to English content, though the data provides content for many different countries and languages. 
			        		<br />
		        		</div>
	        		</div>
	        		<div class="clearfix"></div>
		        	<div class="col-sm-5">
		        		<br />
			        	<iframe height="300px" width="100%" src="https://dirksen-library.appspot.com/"></iframe>
	        		</div>
		        	<div class="col-sm-7">
			        	<div class="text-left">
			        		<br />
			        		<span>Title:</span> <a href="https://dirksen-library.appspot.com/" target="_new">Dirksen Library</a>
			        		<br />
			        		<span>Technologies:</span> HTML5, CSS, Bootstrap, Sass, SVG Animation, Bourbon, Ruby, Gem, JavaScript (Angular.js, jQuery), Google App Engine, Responsive Design
			        		<br />
			        		<span>Git Repository:</span> <a href="https://github.com/mufniarz/DirksenLibrary" target="_new">https://github.com/mufniarz/DirksenLibrary</a>
			        		<br />
			        		<span>Description:</span> This site is used as the default page for Dirksen Library.  It targets children with responsive design and SVG animation.  This site is hosted through Google App Engine.  
			        		<br />

		        		</div>
	        		</div>
	        		<div class="clearfix"></div>
		        </div>
		    </div>
	      </section>

	    </div>
	    <footer class="footer" style="z-index: 1000;">
	      <div class="container text-center">
	        <p class="text-muted">Creator: <a href="https://www.linkedin.com/in/marcin-ufniarz-bb374566" target="_new">Marcin M. Ufniarz</a> - <a href="https://github.com/mufniarz/basic-portfolio" target="_new">GitHub</a></p>
	      </div>
	    </footer>

	</body>
</html>