<section class="container-fluid" data-ng-controller="IndexController">
  <div class="col-md-9">
    <div class="col-md-12 contact-info">
       <span class="name">Marcin Ufniarz</span>
       <span class="title">Front End Developer</span>
      <a href="mailto:marcinmu330@gmail.com">marcinmu330@gmail.com</a><br />
      Chicago, IL 60656<br />
      Mobile: (708) 670-5104
    </div>
    <div class="col-md-12 portfolio-section">
      <div class="header">About</div>
        Driven, quick-learning professional seeks to apply Information Technology education and analytical skills to a web developer position with room for growth in a progressive organization.
    </div>
    <div class="col-md-12 portfolio-section">
      <div class="header">Profile</div>
        Consistently demonstrate discipline and a strong work ethic; take direction well and lead by example to enforce high standards of organization and efficiency when coordinating with staff and management in a variety of professional environments.
        <br />
        Creative and goal-oriented planner with the ability to effectively handle objectives and projects without supervision from concept through execution and finalization; coordinate well with numerous personalities while remaining on task and attending to every applicable detail.
    </div>
    <div class="col-md-12 portfolio-section">
      <div class="header">Technical  Skills</div>
      Proficient in HTML, CSS, Sass, Web Performance Optimization, SVG Animation,  JavaScript (jQuery, ProcessingJS, AngularJS, Node.js, MongoDB, API Development), Bootstrap 3.3, Java and PHP, in addition to MySQL and other related database technologies.
      <br />
      Extensive knowledge of phpMyAdmin, FileZilla, OS (Linux, Windows, Mac), VirtualBox, WordPress, Apache, Google App Engine, Google Datastore and web development tools Firebug and Selenium. Utilize GitHub.com to remain apprised of current technology trends.
    </div>
    <div class="col-md-12 portfolio-section">
      <div class="header">Education</div>
      <div class="col-sm-6 contact-info">
        <span class="name">UNIVERSITY OF PHOENIX</span>  
        <span class="title">Bachelor of Science in Information Technology</span>
        Schaumburg, IL<span class="year">conferred 2013</span>
      </div>
      <div class="col-sm-6 contact-info">
        <span class="name">TRITON COMMUNITY COLLEGE</span>  
        <span class="title">Associate in Science (Dean's List)</span>
        River Grove, IL<span class="year">conferred 2005</span>
      </div>
    </div>
    <div class="col-md-12 portfolio-section contact-info">
      <div class="header">Experience</div>    
      <span class="name">COMPUSYSTEMS, INC.<span class="year">June 2013 to Oct. 2015</span></span>  
      <span class="title">Web Developer</span>
      Downers Grove, IL 
      <br />
      Apply comprehensive business logic to effectively manage websites; build websites to meet unique client specifications. Identify inconsistencies and resolve discrepancies. 
      <br />
      <ul>
        <li>Building highly customized websites that service a diverse range of requirements.</li>
        <li>Employ a vast knowledge of DOM manipulation technologies (Font Aweosme, Twitter Bootstrap, JavaScript, JQuery) and back-end technologies (Java, SQL) to create dynamic and user driven web pages.</li>
        <li>Built and customized registration portals on teams of three or four members, collaborating with various departments.</li>
        <li>Managed time effectively to meet tight deadlines on a weekly basis with no surprises.</li>
      </ul>
      <span class="name">GETLUSTY.COM<span class="year">2013 March to June</span></span>
      <span class="title">Front-End Developer / Intern</span>
      Chicago, IL
      <br />  
      Began as part-time Intern and within two months became a full-time intern for a website dedicated to couples communication and relationship strengthening.
      <br />
      <ul>
        <li>Initially conducted web application testing; entrusted to perform regression testing, end-to-end testing, and blackbox testing. Additionally documented databases, tables, and stored procedures with MSSQL.</li>
        <li>Designed the website’s daily and weekly newsletter templates with HTML/CSS.</li>
        <li>Built the website’s landing page and membership page with HTML and CSS.</li>
      </ul>
    </div>
    <div class="col-md-12 portfolio-section contact-info">
      <div class="header">Volunteer</div>    
      <span class="name">FREE GEEK CHICAGO<span class="year">2012 to Present</span></span>
      Chicago, IL
      <br />
      Co-organizer of <a href="http://chitowncoders.org/" target="_new">Supreme Chi-Town Coding Crew(SC3)</a>. 
      <ul>
        <li>Host meetups on Saturdays for our technical book club and open hack space.</li> 
        <li>Provides developers at all experience levels a workspace.</li>
        <li>Provides a networking and open source friendly space.</li>
        <li>Sponsors and organizes meetups through <a href="http://www.meetup.com/Supreme-Chi-Town-Coding-Crew/" target="_new">www.meetup.com/Supreme-Chi-Town-Coding-Crew/</a></li>
      </ul>
      <br />
      <span class="name">BROADVIEW PUBLIC LIBRARY<span class="year">2015 to Present</span></span>
      Broadview, IL
      <br />
      Offer a JavaScript for children and beginners of all ages course using the ProcessingJS library. 
    </div>
    <div class="col-md-12 portfolio-section contact-info">
      <div class="header">Language</div>
      Communicate fluently in English and Polish.
    </div>
  </div>
  <div class="col-md-3" role="complementary">
    asdfsad
  </div>
</section>