body {
	font-family: 'Lora', serif;
}

section > div {
    color: $blue;
    background-color: #fff;
	border: 3px solid $mid-blue;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: .9;
	& .header {
    	color: $dark-blue;
		font-size: 2em;
	}
	& span {
		color: $light-blue;
	}
}

