$light-blue     : #5576bb;
$mid-blue       : #355aa9;
$blue           : #0d317f;
$dark-blue      : #082563;

$light-orange 	: #ffa965;
$mid-orange   	: #fd913b;
$orange       	: #be5400;
$dark-orange  	: #954200;

$light-green    : #5cd855;
$mid-green      : #38cd30;
$green          : #089a00;
$dark-green     : #067800;